img {
    height: 300px;
    width: 300px;

}

.ui-autocomplete {
    color: purple;
    border-color: black;
    font-weight: bold;
    border-style: solid;
    width: 150px;
    background-color: white;
}

.list-items {
    display: inline-flex;    
}

li + li {
    margin-left: 15px;
}

.ui-helper-hidden-accessible {
    display:none !important
}

#cities{
    max-width: 15%;
}



li {
    font-style: italic;
}

#advice {
    font-family: 'Arima Madurai', cursive;
}





body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#wrapper {
    flex: 1;
}

@media (max-width: 535px) {
    .list-items {
      display: block;
    }
  }

