img {
    height: 300px;
    width: 300px
}

.ui-autocomplete {
    color: purple;
    border-color: black;
    font-weight: bold;
    border-style: solid;
    width: 150px;
    background-color: white;
}

.list-items {
    display: inline-flex;
    justify-content: space-between;
    
}

li + li {
    margin-left: 10px;
}

.ui-helper-hidden-accessible {
    display:none !important
}

/* #attractions {
    display: none;
} */